/*
*= require_tree .
*= require_self
*/


.dropdown-icon {
    height: 35px;
    width: 35px;
    size: absolute; 
}

.dropdown-button {
    size: absolute; 
    height: 40px;
    border: none; 
}

.dropdown-button:focus {
    outline: 0;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 1;
    margin-right: 38px; 
    display: flex;
    justify-content: flex-end;
}

.menu { 
    width: 200px;
    position: top; 
    z-index: 1;
    /* bottom: 0;
    top: 100;
    left: -45;
    right: 0;  */
    display: flex;
    flex-direction: column; 
    background-color: white;
}

.menu button {
    padding: 20px; 
    height: 40px; 
}

.menu button:focus {
    outline: 0;
}