/*
*= require_tree .
*= require_self
*/


.dropdown-icon {
    height: 35px;
    width: 35px;
    size: absolute; 
}

.dropdown-button {
    size: absolute; 
    height: 40px;
    border: none;
    background-color: white; 
}

.dropdown-button:focus {
    outline: 0;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 1;
    margin-right: 38px; 
    display: flex;
    justify-content: flex-end;
}

.menu { 
    width: 200px;
    position: top; 
    z-index: 1;
    display: flex;
    flex-direction: column; 
    background-color: white;
}

.menu button {
    padding: 20px; 
    height: 40px; 
}

.menu button:focus {
    outline: 0;
}

.dropdown-links {
    text-decoration: none; 
    transition: all 0.25s ease 0s; 
    cursor: pointer; 
    font-family: "calibre", helvetica, sans-serif;
    padding: 20px 14px 14px 0px; 
    color: rgb(67, 67, 67);
    border-bottom: 1px solid #ebebeb;
}

.dropdown-links:hover {
    padding-left: 15px; 
}