/*
*= require_tree .
*= require_self
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.footer { 
    background-color: #412F5A;
    margin: -10px; 
}

.footer-img {
    width: 100%;
    height: 100%;
    display: block; 
}
