/*
*= require_tree .
*= require_self
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer { 
    background-color: #412F5A;
    display: block;  
}

.footer div {
    width: 100px;
    height: auto; 
}

.footer-img {
    width: 100%;
    height: auto;
    display: block; 
}

.icon-links {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-content: flex-end;
}

.icon-links a {
    color: white; 
    font-size: 18px;
    padding-top: 10px;   
}
