/*
*= require_tree .
*= require_self
*/

.show-page {
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

.activities-show {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  height: 500px; 
}

.activities-container {
  width: 100%; 
  flex-direction: row;
}

.listing-show-title {
  border-bottom: 1px solid #ebebeb;
  margin-right: 20px; 
  padding-top: 30px; 
  padding-bottom: 30px; 
}

.listing-show-item {
  height: 750px; 
  display: flex;
  flex-direction: column; 
  border-bottom: 1.5px solid #ebebeb;
}

.listing-show-title h1 {
  color: rgb(51, 51, 51);
  font-size: 40px; 
  font-weight: 600;
  font-family: "calibre", helvetica, sans-serif;
}

.listing-show-title p {
  width: fit-content;
  border-bottom: 1px solid #ebebeb;
  color: rgb(51, 51, 51);
  font-size: 18px; 
  font-weight: 200;
  font-family: "calibre", helvetica, sans-serif;
}

.listing-show-title p:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.listing-show-description {
  padding-top: 30px; 
  padding-bottom: 30px; 
  color: rgb(51, 51, 51);
  font-family: "calibre", helvetica, sans-serif;
  font-size: 18px; 
  height: 160px; 
  width: 700px; 
  line-height: 1.5;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.host-id {
  margin-top: 8px; 
  width: 220px;
  padding-right: 15px; 
  display: flex;
  flex-direction: row; 
}

.host-id li {
  margin: 0px 0px 10px 50px; 
}

.description {
  width: 500px; 
  line-height: 2; 
}

.activity-p {
  margin: 30px 0px 5px 0px;
  padding: 10px 0px 20px 0px;
  font-weight: bold;  
  font-family: "calibre", helvetica, sans-serif;
  font-size: 18px; 
}

.activity-p2 {
  margin: 0px 0px 30px 0px;
  padding-bottom: 10px; 
  font-family: "calibre", helvetica, sans-serif;
  color: #757575;
  font-size: 18px; 
}

.info-boxes {
  width: 720px;
  height: 360px; 
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.activity-box-container {
  width: 700px; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
}

.activity-boxes {
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap; 
}

.activity-box {
  margin: 0px 30px 30px 0px; 
  display: flex;
  flex-direction: column;
}

.info {
  border: 2px solid rgb(235, 235, 235);
  width: 220px;
  height: 340px; 
  display: flex;
  flex-direction: column;
}

.activity {
  border: 2px solid rgb(235, 235, 235);
  width: 100px;
  height: 100px; 
  display: flex;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.activity-title {
  font-size: 15px;
  color: rgb(51, 51, 51);
  font-family: "calibre", helvetica, sans-serif; 
  text-align: center;
}

.info div {
  padding-top: 10px; 
}

.info span {
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-family: "calibre", helvetica, sans-serif;
  padding-top: 20px; 
  margin-left: 15px;
  margin-bottom: 10px; 
}

.info-item {
  height: 28px; 
  display: flex;
  flex-direction: row; 
  margin-left: 13px; 
}

.activity-item {
  height: 28px; 
  display: flex;
  flex-direction: row; 
  font-size: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
}

.itemless {
  height: 28px; 
  display: flex;
  flex-direction: row; 
  margin-left: 13px; 
}

.info-item img {
  color: rgb(51, 51, 51);
  width: 20px; 
  height: 20px; 
}

.info-item li {
  color: rgb(51, 51, 51);
  list-style-type: none;
  font-size: 16px;  
  font-family: "calibre", helvetica, sans-serif;
  margin-top: 5px; 
  margin-left: 10px; 
}

.itemless img {
  color: rgb(180, 180, 180);
  width: 20px; 
  height: 20px; 
}

.itemless li {
  color: rgb(180, 180, 180);
  list-style-type: none;
  font-size: 16px;  
  font-family: "calibre", helvetica, sans-serif;
  margin-top: 5px; 
  margin-left: 10px; 
}

.fake-box {
    height: 750px; 
    width: 319px; 
}

.anchor {
  height: 100%;
  width: 100%;
}

.booking-box {
  z-index: 1;
  border: 2px solid rgb(235, 235, 235);
  height: 295px; 
  width: 319px; 
  position: absolute;
  top: 525px; 
  right: 400px; 
  background-color: white;
}

.fixed-box {
  z-index: 1;
  border: 2px solid rgb(235, 235, 235);
  height: 295px; 
  width: 319px; 
  position: fixed;
  top: 25px; 
  right: 400px; 
  background-color: white;
}

.booking-div {
  border-bottom: 0.5px solid rgb(235, 235, 235);
  width: 100%;
  height: 25%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.booking-button-div {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-bottom: none; 
  width: 100%;
  height: 25%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booking-div-col {
  text-indent: 15px; 
  border-bottom: 0.5px solid rgb(235, 235, 235);
  width: 100%;
  height: 25%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  font-size: 16px;  
  font-family: "calibre", helvetica, sans-serif;
}

.price {
  font-size: 23px; 
  font-weight: 500;
  padding-bottom: 5px; 
}

.per-night {
  color: rgb(180, 180, 180);
}

.booking-div-space {  
  border-bottom: 0.5px solid rgb(235, 235, 235);
  width: 100%;
  height: 25%;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  font-size: 16px;  
  font-family: "calibre", helvetica, sans-serif;
}

.base-price {
  width: 200px;
}

.check-in-div {
  padding-left: 15px; 
  border-right: 0.5px solid rgb(235, 235, 235);
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: start;
  font-size: 15px;  
  font-family: "calibre", helvetica, sans-serif;
}

.guests-div {
  padding-left: 15px; 
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: start;
  font-size: 15px;  
  font-family: "calibre", helvetica, sans-serif;
}

.check-in-div:hover, .guests-div:hover {
  cursor: pointer;
}

.check-bold { 
  font-weight: 600;
  margin: 15px 0 10px 0; 
}

.check-guests {
  font-weight: 600;
  margin: 15px 0px 10px 0px; 
}

.booking-button {
  background-color: #40d9ac;
  border: 1px solid #40d9ac;
  color: white;
  width: 300px; 
  height: 55px; 
  font-weight: bold;
  font-size: 16px;  
  font-family: "calibre", helvetica, sans-serif;
}

.booking-button:hover {
  background-color: white;
  cursor: pointer;
  color: #40d9ac;
  border: 3px solid #40d9ac;
}

.guest-display {
  margin-top: 5px; 
}

.guest-select {
  margin: 0 10px 0 0;
  width: 80px;
}