/*
*= require_tree .
*= require_self
*/

.show-page {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.listing-show-item {
    height: 879px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.listing-show-title h1 {
    color: rgb(51, 51, 51);
    font-size: 48px; 
    font-weight: 600;
    font-family: "calibre", helvetica, sans-serif;
}

.listing-show-description {
    color: rgb(51, 51, 51);
    font-family: "calibre", helvetica, sans-serif;
    font-size: 18px; 
    width: 480px; 
    line-height: 1.5;
}

.info-boxes {
    width: 720px;
    height: 360px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.info {
    border: 2px solid rgb(235, 235, 235);
    width: 220px;
    height: 340px; 
    display: flex;
    flex-direction: column;
}

.info div {
    padding-top: 10px; 
}

.info span {
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-family: "calibre", helvetica, sans-serif;
    padding-top: 20px; 
    margin-left: 10px;
    margin-bottom: 10px; 
}

.info-item {
    height: 28px; 
    display: flex;
    flex-direction: row; 
    margin-left: 13px; 
}

.info-item img {
    color: rgb(51, 51, 51);
    width: 20px; 
    height: 20px; 
}

.info-item li {
    color: rgb(51, 51, 51);
    list-style-type: none;
    font-size: 16px;  
    font-family: "calibre", helvetica, sans-serif;
    margin-top: 5px; 
    margin-left: 10px; 
}

.no-item {
    color: rgb(117, 117, 117);
    list-style-type: none;
    font-size: 16px;  
    font-family: "calibre", helvetica, sans-serif;
    margin-top: 5px; 
    margin-left: 10px; 
}

.fake-box {
    height: 370px; 
    width: 319px; 
}

.anchor {
  height: 100%;
  width: 100%;
}

.booking-box {
    z-index: 1;
    border: 2px solid rgb(235, 235, 235);
    height: 320px; 
    width: 319px; 
    position: absolute;
    top: 525px; 
    right: 400px; 
    background-color: white;
}