/*
*= require_tree .
*= require_self
*/

.create-body {
    height: 100%;
    width: 100%; 
}

.form-body {
    height: 1000px;
    width: 1000px;
}

.form-title {
    width: 500px;
    height: 500px; 
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}