/*
*= require_tree .
*= require_self
*/

.listing-nav {
    width: 100%;
    height: 79px; 
    border: 1.25px solid #ebebeb;
    display: flex; 
    flex-direction: row;
}

.listing-nav-img {
    width: 81px;
    height: 69px; 
    padding: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    border-right: 1.25px solid #ebebeb;
}

.listing-nav-body {
    width: 88%;
}

.listing-nav-right {
    padding: 15px;
    border-left: 1.25px solid #ebebeb;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.save-and-exit {
    text-decoration: none; 
    color: black; 
    font-family: "calibre", helvetica, sans-serif;
}

.tent-nav {
    height: 50px;
    width: 50px;  
}

.form-body {
    height: 100%;
    width: 100%;
    background-color: rgb(249, 249, 249);
    flex-direction: column;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nav-arrow-container {
    width: 20%; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
}

.nav-arrow {
    margin-right: 10px; 
    background-color: white;
    padding: 13px; 
    border: 1.25px solid #ebebeb;
    font-size: 13px; 
}

.nav-arrow-grey {
    margin-right: 10px; 
    border: 1.25px solid #ebebeb;
    font-size: 13px; 
    padding: 13px;
    background-color: rgb(252, 252, 252);
    color: rgb(226, 226, 226);
}

.nav-arrow:hover {
    cursor: pointer;
}

.form-vessel {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
}

.form-container {
    width: 670px !important;
    height: 480px !important; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 40px; 
}

.listing-form-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 670px !important;
    margin: 0px 0px 0px 20px;
    font-size: 32px; 
    font-family: "calibre", helvetica, sans-serif;
    line-height: 1.5;
    text-align: start;
    text-indent: 0; 
    padding: 0;
}

.form-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    font-family: "calibre", helvetica, sans-serif;
    font-size: 18px;
    height: 300px;  
    width: 100%;
}

.form-capacity {
    margin-left: 20px;
    font-family: "calibre", helvetica, sans-serif;
    font-size: 18px;
    height: 300px;  
    width: 100%;
    display: flex;
    align-items: center; 
}

.form-capacity input {
    width: 70%;
    height: 35px;
    text-indent: 15px;
}

.form-price {
    margin: 20px;
    font-family: "calibre", helvetica, sans-serif;
    font-size: 18px;
    height: 300px;  
    width: 100%;
    display: flex;
    align-items: center; 
}

.form-input input {
    width: 70%;
    height: 35px;
    text-indent: 15px; 
}

.form-input select {
    background-color: white; 
    width: 70%;
    height: 35px;
    text-indent: 15px; 
}

.form-input select:focus {
    border: 1px solid #40d9ac;
}

.form-price input {
    width: 70%;
    height: 35px;
    text-indent: 15px; 
}

.form-price div {
    height: 41px;
    width: auto; 
    padding: 0px 10px 0px 10px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid gray;
}

.form-input textarea {
    width: 70%; 
    height: 200px; 
    padding-top: 10px; 
    text-indent: 15px; 
}

.form-input input:focus, .form-input textarea:focus, .form-price input:focus {
    border: 1px solid black;
}

.form-buttons {
    margin: 40px 0px 0px 20px;
    width: 600px; 
    height: 300px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grey {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 235, 235);
    padding: 18px, 20px;
    width: 275px;
    height: 60px;
    font-family: "calibre", helvetica, sans-serif;
}

.grey:hover {
    border-color: black;
    cursor: pointer; 
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px, 20px;
    width: 275px;
    border: 1px solid #40d9ac;
    height: 60px;
    background-color: #40d9ac;
    font-family: "calibre", helvetica, sans-serif;
    font-weight: bold; 
    color: white; 
}

.green:hover {
    cursor: pointer;
    border: 1px solid #40d9ac;
}

.directions-container {
    height: 500px;
    width: 270px; 
    margin: 20px;
    padding-left: 40px; 
    padding-right: 40px; 
    padding-bottom: 40px; 
}

.directions {
    height: auto;
    width: auto; 
    padding: 20px; 
    font-family: "calibre", helvetica, sans-serif;
    font-size: 18px; 
    line-height: 1.5; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.directions-title {
    margin-top: 10px; 
    font-weight: bold; 
    color: #40d9ac;
}

.directions-body {
    margin-bottom: 10px; 
}

.help {
    text-decoration: none; 
    font-weight: bold; 
    color: black; 
    border-bottom: 1.25px solid #ebebeb;
}

.help:hover {
    cursor: pointer; 
    border-bottom: 1.25px solid black
}

.ok {
    background-color: #40d9ac;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;  
    padding: 18px 20px;
    width: 100px;
    border: 3px white;
    height: 58px;
    font-family: "calibre", helvetica, sans-serif;
    transition: all 0.65s ease 0s; 
}

.ok-create {
    background-color: #40d9ac;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;  
    padding: 18px 15px 20px 15px;
    width: auto;
    border: 3px white;
    height: 58px;
    font-family: "calibre", helvetica, sans-serif;
    transition: all 0.25s ease 0s; 
}

.not-ok {
    background-color: rgb(255, 255, 255);
    color: rgb(117, 117, 117);
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;  
    padding: 18px, 20px;
    width: 100px;
    border: none; 
    height: 58px;
    font-family: "calibre", helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ok:hover {
    background-color: white;
    cursor: pointer;
    color: #40d9ac;
    border: 3px solid #40d9ac;
}

.ok-create:hover {
    background-color: white;
    cursor: pointer;
    color: #40d9ac;
    border: 3px solid #40d9ac;
}

.upload-button {
    width: 0.1px;
    height: 0.1px; 
    opacity: 0;
    overflow: hidden;
    position: absolute; 
    z-index: -1; 
}

.image-upload {
    height: 120px;
    width: 598px; 
    border: 3px dashed rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(180, 180, 180);
}

.image-upload:hover {
    cursor: pointer;
    border: 3px dashed black;
    color: black;
}

.fa-camera {
    margin-bottom: 15px; 
}