/*
*= require_tree .
*= require_self
*/

.home {
    font-family: "calibre", helvetica, sans-serif;
    width: 471px; 
    height: 248px; 
    margin-left: 130px;
    margin-top: 25px;  
    display: flex;
    flex-wrap: wrap; 
    color: rgb(67, 67, 67); 
}

.home-title {
    font-size: 48px;
    margin-bottom: 30px;  
    font-weight: 600;
}

.subtext {
    font-size: 22px;
    line-height: 1.25; 
}

.subtext span {
    font-weight: 600
}

.main-menu {
    display: block;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 75px; 
}

.main-menu-title {
    text-align: center;
    font-size: 30px; 
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: "calibre", helvetica, sans-serif;
    color: rgb(67, 67, 67);
}

.option-links {
    text-decoration: none;
    line-height: 1.5;
}

.menu-items {
    width: 1075px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
}

.menu-items div {
    border: 2px solid rgb(235, 235, 235);
    margin-bottom: 50px;
}

.camp-pic {
    width: 338px;
    height: 338px;
}

.option-title {
    font-family: "calibre", helvetica, sans-serif;
    font-size: 24px;
    color: rgb(67, 67, 67);
    margin-left: 10px;
}

.option-location {
    font-family: "calibre", helvetica, sans-serif;
    color: rgb(117, 117, 117);
    font-size: 18px; 
    margin-bottom: 20px;
    margin-left: 10px; 
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px; 
}

.search-bar {
  position: relative; 
  height: 227px;
  width: 75%; 
  border: 2px solid rgb(235, 235, 235);
  margin: 15px; 
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.search-input {
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    border: none; 
    width: 95%;
    height: 80%;
    margin: 15px; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.search {
    border: none; 
    
}

.mag-glass {
    height: 20px;
    width: 20px; 
}

.filter-buttons {
    width: 95%;
    height: 80%;
    margin: 15px; 
    display: flex;
    justify-content: space-between;
}

.filter {
    margin-right: 10px;
    width: 18%; 
    border-color: 1px solid rgb(85, 85, 85);
    font-size: 16px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    font-family: "calibre", helvetica, sans-serif;
}

.search-button {
    background-color: #40d9ac;
    border-color: #40d9ac;
    color: white;  
    width: 18%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: "calibre", helvetica, sans-serif;
}