/*
*= require_tree .
*= require_self
*/

*:focus {
    outline: none;
}

.camp-pic {
    width: 338px;
    height: 338px;
}

.fa-search {
    margin-left: 20px;
    font-size: 20px; 
}

.filter-buttons {
    width: 98%;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-between;
}

.filtered {
    background-color: #f3fbfb;
    width: 19.5%; 
    height: 60px; 
    border: 1.5px solid #40d9ac;
    font-size: 16px;
    font-weight: bold;
    color: #40d9ac;
    font-family: "calibre", helvetica, sans-serif;
    font-weight: 200;
}

.filtered:hover {
    cursor: pointer; 
}

.home {
    font-family: "calibre", helvetica, sans-serif;
    width: 671px; 
    height: 148px; 
    margin-left: 155px;
    margin-top: 25px;  
    display: flex;
    flex-wrap: wrap; 
    color: rgb(67, 67, 67); 
    align-items: center;
}

.home-title {
    font-size: 40px; 
    font-weight: 600;
}

.main-menu {
    display: block;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-bottom: 75px; 
}

.main-menu-title {
    text-align: center;
    font-size: 30px; 
    margin-top: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: "calibre", helvetica, sans-serif;
    color: rgb(67, 67, 67);
}

.menu-items {
    width: 1075px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
}

.menu-items div {
    border: 2px solid rgb(235, 235, 235);
    margin-bottom: 50px;
}

.option-links {
    text-decoration: none;
    line-height: 1.5;
}

.option-location {
    font-family: "calibre", helvetica, sans-serif;
    color: rgb(117, 117, 117);
    font-size: 18px; 
    margin-bottom: 20px;
    margin-left: 10px; 
}

.option-title {
    font-family: "calibre", helvetica, sans-serif;
    font-size: 24px;
    color: rgb(67, 67, 67);
    margin-left: 10px;
}

.results {
    font-size: 15.7px; 
    font-family: "calibre", helvetica, sans-serif;
    font-weight: 200;
    color: rgb(51, 51, 51);
}

.results-container {
    z-index: 1;
    position: absolute;
    top: 200; right: 0px; 
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    border: none; 
    width: 98%; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.result-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.result-link p {
    margin: 10px;
    border-bottom: 1px solid #ebebeb;
    font-size: 1rem;
    color: rgb(67, 67, 67);
    font-family: "calibre", helvetica, sans-serif;
}

.search {
    font-size: 20.7px; 
    font-family: "calibre", helvetica, sans-serif;
    color: rgb(51, 51, 51);
    margin-left: 25px; 
    border: none; 
    width: 100%;
    height: 25%;
    font-weight: 200; 
}

.search:focus::-webkit-input-placeholder {
     color: transparent;
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  position: relative; 
  height: 240px;
  width: 83%; 
  border: 2px solid rgb(235, 235, 235);
  margin: 15px; 
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button {
    background-color: #40d9ac;
    border: 2px solid #40d9ac;
    color: white;  
    width: 19.5%;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    font-family: "calibre", helvetica, sans-serif;
}

.search-button:hover {
    background-color: white;
    cursor: pointer;
    color: #40d9ac;
    border: 3px solid #40d9ac;
}

.search-image {
    font-size: 18px; 
    margin-right: 10px; 
}

.search-input {
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    border: none; 
    width: 98%;
    height: 80%;
    margin-top: 20px; 
    margin-left: 15px; 
    margin-right: 15px; 
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.spacer {
    height: 33px;
    width: 23px; 
}

.subtext {
    font-size: 18px;
    line-height: 1.25; 
}

.subtext span {
    font-weight: 600;
}
.unfiltered {
    background-color: rgb(255, 255, 255);
    width: 19.5%; 
    height: 60px; 
    border: 1.5px solid #ebebeb;
    font-size: 16px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    font-family: "calibre", helvetica, sans-serif;
    font-weight: 200; 
}

.unfiltered:hover {
    background-color: #f3fbfb;
    border-color: #40d9ac;
    color: #40d9ac;
    cursor: pointer;
}