.slideshow {
    height: 480px; 
    width: fit-content; 
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slide {
    border: 2px solid rgb(235, 235, 235);
    height: 480px;
    width: 600px;
    margin-left: 15px; 
}

.next-arrow {
  position: absolute;
  top: 335px;
  right: 25px; 
  z-index: 1;
  color: white;
  font-size: 40px;
}

.prev-arrow {
  position: absolute;
  top: 335px;
  left: 25px;
  z-index: 1;
  color: white; 
  font-size: 40px; 
}

.next-arrow:hover, .prev-arrow:hover {
    cursor: pointer; 
}